Repository cslab-ntua/regale-nixos-compose: changes, and which GitLab CI jobs are due for each by the changed paths.
All: oar-test, ear-test, ear-oar-test

.gitlab-ci.yml:

stages:
  - triggers

oar-test:
  stage: triggers
  trigger:
    include: oar/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - oar/*

ear-test:
  stage: triggers
  trigger:
    include: ear/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - ear/*

ear-oar-test:
  stage: triggers
  trigger:
    include: ear-oar/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - ear-oar/*

Update melissa-ear-oar
  melissa-ear-oar/flake.lock
  melissa-ear-oar/flake.nix
  melissa-ear-oar/setup.toml
  oar/setup.toml
Due: oar-test

Stated to Upgrade bdpo-oar
  bdpo-oar/flake.nix
  oar/setup.toml
Due: oar-test

Update bdpo, bdpo-oar, ear and ear-oar, permission access denied
  bdpo-oar/flake.lock
  bdpo-oar/flake.nix
  bdpo-oar/setup.toml
  bdpo/flake.lock
  bdpo/flake.nix
  ear-oar/flake.lock
  ear-oar/flake.nix
  ear/flake.lock
  ear/flake.nix
  ear/setup.toml
  melissa-ear-oar/setup.toml
  oar/setup.toml
Due: oar-test, ear-test, ear-oar-test

Updgrade bedida ans examon
  bebida/flake.lock
  bebida/flake.nix
  examon/flake.lock
  examon/flake.nix
Due: none

Test changes for oar and bdbp oar
  bdpo-oar/flake.lock
  bdpo-oar/flake.nix
  bdpo-oar/setup.toml
  oar/flake.lock
  oar/setup.toml
Due: oar-test

Added a new composition in oar using the adfaure version as a basis
  oar/README.md
  oar/common_config.nix
  oar/nxc.json
  oar/setup.toml
  oar_old/.gitlab-ci.yml
  oar_old/README.md
  oar_old/common_config.nix
  oar_old/composition.nix
  oar_old/flake.lock
  oar_old/flake.nix
  oar_old/nxc.json
  oar_old/setup.toml
Due: oar-test

Deletion of the old oar composition
  oar/flake.nix
  oar_old/.gitlab-ci.yml
  oar_old/README.md
  oar_old/common_config.nix
  oar_old/composition.nix
  oar_old/flake.lock
  oar_old/flake.nix
  oar_old/nxc.json
  oar_old/setup.toml
Due: oar-test

Melissa ear oar working in 22.11
  melissa-ear-oar/flake.lock
  melissa-ear-oar/setup.toml
Due: none

Update bdpo oar
  bdpo-oar/flake.lock
Due: none

Update ear on 22.11
  ear/flake.lock
  ear/setup.toml
Due: ear-test

Upgrade bebida to 22.11
  bebida/flake.lock
Due: none

oar: start adding quotas to the compo
  oar/common_config.nix
Due: oar-test

oar: add simple quotas
  oar/common_config.nix
Due: oar-test

melissa-ear: comment pam limit
  melissa-oar/common_config.nix
Due: none

melissa-ear: update to nixpkgs 2305
  melissa-ear-oar/flake.lock
  melissa-ear-oar/flake.nix
Due: none

melissa-ear: update add resource to new oar
  melissa-ear-oar/scripts/scripts.nix
Due: none

WIP: 2305 and make many do not work
  melissa-ear-oar/common_config.nix
  melissa-ear-oar/composition.nix
  melissa-ear-oar/flake.lock
  melissa-ear-oar/scripts/scripts.nix
  melissa-ear-oar/setup.toml
  oar/common_config.nix
  oar/composition.nix
  oar/flake.lock
  oar/flake.nix
  oar/setup.toml
  test/nxc.json
  test/nxc/.flake.nix.swp
Due: oar-test

wip
  oar/composition.nix
  oar/flake.lock
  oar/flake.nix
Due: oar-test

2305 should work
  oar/common_config.nix
  oar/composition.nix
  oar/flake.lock
  oar/setup.toml
Due: oar-test

try multi compos for oar variantes
  oar-multi/README.md
  oar-multi/compositions.nix
  oar-multi/compositions/oar-ear-melissa.nix
  oar-multi/compositions/oar-melissa.nix
  oar-multi/compositions/oar.nix
  oar-multi/ear_config.nix
  oar-multi/flake.lock
  oar-multi/flake.nix
  oar-multi/nxc.json
  oar-multi/oar_config.nix
  oar-multi/scripts/scripts.nix
  oar-multi/setup.toml
Due: none

remove util
  oar-multi/flake.lock
  oar-multi/flake.nix
  oar-multi/setup.toml
Due: none

oar-multi: use role distribution
  oar-multi/compositions/oar.nix
  oar-multi/setup.toml
Due: none

oar-multi: update nur-kapack
  oar-multi/flake.lock
  oar-multi/setup.toml
Due: none

regale-library: start base compo for tests
  regale-library/composition.nix
  regale-library/flake.lock
  regale-library/flake.nix
  regale-library/nxc.json
  regale-library/setup.toml
Due: none

repo: update comments
  ear-oar/flake.nix
  ear/flake.nix
  melissa-ear-oar/flake.nix
  melissa-oar/flake.nix
Due: ear-test, ear-oar-test

wip: melissa-ear-oar
  melissa-ear-oar/composition.nix
  melissa-ear-oar/flake.lock
  melissa-ear-oar/flake.nix
Due: none

wip: melissa ear update
  melissa-ear-oar/flake.lock
  melissa-ear-oar/flake.nix
  melissa-ear-oar/setup.toml
Due: none

melissa-ear: update lock file
  melissa-ear-oar/flake.lock
Due: none

restore oar multi-composition
  oar-multi/README.md
  oar-multi/compositions.nix
  oar-multi/compositions/oar-ear-melissa.nix
  oar-multi/compositions/oar-melissa.nix
  oar-multi/compositions/oar.nix
  oar-multi/ear_config.nix
  oar-multi/flake.lock
  oar-multi/flake.nix
  oar-multi/nxc.json
  oar-multi/oar_config.nix
  oar-multi/scripts/scripts.nix
  oar-multi/setup.toml
Due: none

clean compositions
  ear-oar/flake.nix
  ear/flake.nix
  melissa-ear-oar/flake.nix
  melissa-oar/flake.nix
  oar-multi/flake.nix
  oar/flake.lock
  oar/flake.nix
  oar/setup.toml
  regale-library/composition.nix
  regale-library/flake.lock
  regale-library/flake.nix
  regale-library/nxc.json
  regale-library/setup.toml
Due: oar-test, ear-test, ear-oar-test

oar-multi: update lock
  oar-multi/flake.lock
  oar-multi/flake.nix
Due: none

oar-multi: create lib folder for common files
  oar-multi/compositions/oar-ear-melissa.nix
  oar-multi/compositions/oar-melissa.nix
  oar-multi/compositions/oar.nix
  oar-multi/lib/ear_config.nix
  oar-multi/lib/oar_config.nix
  oar-multi/lib/scripts/scripts.nix
Due: none

rename oar-multi -> regale-multi-compositions
  regale-multi-compositions/README.md
  regale-multi-compositions/compositions.nix
  regale-multi-compositions/compositions/oar-ear-melissa.nix
  regale-multi-compositions/compositions/oar-melissa.nix
  regale-multi-compositions/compositions/oar.nix
  regale-multi-compositions/flake.lock
  regale-multi-compositions/flake.nix
  regale-multi-compositions/lib/ear_config.nix
  regale-multi-compositions/lib/oar_config.nix
  regale-multi-compositions/lib/scripts/scripts.nix
  regale-multi-compositions/nxc.json
  regale-multi-compositions/setup.toml
Due: none

add ulimit for mpi
  regale-multi-compositions/compositions/oar-ear-melissa.nix
  regale-multi-compositions/setup.toml
Due: none

oar-iccs: add new composition
  oar-iccs/README.md
  oar-iccs/common_config.nix
  oar-iccs/composition.nix
  oar-iccs/flake.lock
  oar-iccs/flake.nix
  oar-iccs/nxc.json
  oar-iccs/setup.toml
Due: none

oar-iccs: increase memory limit for g5k
  oar-iccs/common_config.nix
Due: none

Some addons
  oar-iccs/common_config.nix
  oar-iccs/composition.nix
  oar-iccs/setup.toml
Due: none

Temp changes for quick work and deployment
  oar-iccs/common_config.nix
  oar-iccs/setup.toml
Due: none
