Repository cslab-ntua/regale-nixos-compose: changes, and which GitLab CI jobs are due for each by the changed paths.
All: oar-test, ear-test, ear-oar-test

oar-test:
  stage: triggers
  trigger:
    include: oar/.gitlab-ci.yml
    strategy: depend

ear-test:
  stage: triggers
  trigger:
    include: ear/.gitlab-ci.yml
    strategy: depend

ear-oar-test:
  stage: triggers
  trigger:
    include: ear-oar/.gitlab-ci.yml
    strategy: depend

flake: update nur
  melissa-ear-oar/flake.lock
Due: none

[Readme] update list compositions table
  README.md
Due: none

melissear: node number is setup
  melissa-ear-oar/common_config.nix
  melissa-ear-oar/composition.nix
  melissa-ear-oar/setup.toml
Due: none

Update some readmes
  bdpo-oar/README.md
  oar/README.md
Due: oar-test

[bdpo-ear] update flake.lock
  bdpo-oar/flake.lock
Due: none

[bdpo] updat flake.lock and fix nxc.json
  bdpo/flake.lock
  bdpo/nxc.json
Due: none

oar: dranwgantt and monika activation instructions
  oar/README.md
Due: oar-test

composition.nix: monika and drawgantt on the frontend
  bdpo-oar/composition.nix
Due: none

oar: update instruction with new nxc helper command
  oar/README.md
Due: oar-test

ear: progress on ear powercap integration with oar
  melissa-ear-oar/common_config.nix
  melissa-ear-oar/flake.nix
  melissa-ear-oar/scripts/scripts.nix
  melissa-ear-oar/setup.toml
Due: none

ear: fix suspend/resume scripts
  melissa-ear-oar/scripts/scripts.nix
Due: none

melissa: update flake
  melissa-ear-oar/common_config.nix
  melissa-ear-oar/flake.lock
Due: none

bdpo-oar: some fixes in order to make it work
  bdpo-oar/common_config.nix
  bdpo-oar/scripts/scripts.nix
Due: none

bdpo-oar: one blocking typo fixed
  bdpo-oar/scripts/scripts.nix
Due: none

melissa-ear: readme on how to start melissa
  melissa-ear-oar/README.md
Due: none

melissa-ear: readme typos
  melissa-ear-oar/README.md
Due: none

[oar] Use roles, nxc.sharedDirs, nxc.users
  melissa-oar/README.md
  melissa-oar/common_config.nix
  melissa-oar/composition.nix
  melissa-oar/flake.lock
  melissa-oar/flake.nix
  melissa-oar/melissa.nix
  melissa-oar/nxc.json
  melissa-oar/scripts/scripts.nix
  melissa-oar/scripts/scripts.nix.bak
  melissa-oar/setup.toml
  oar/common_config.nix
  oar/composition.nix
  oar/flake.nix
  oar/setup.toml
Due: oar-test

[ear] Use roles, nxc.sharedDirs, nxc.users
  ear/common_config.nix
  ear/composition.nix
  ear/flake.lock
  ear/setup.toml
Due: ear-test

[ear-oar] Use roles, nxc.sharedDirs, nxc.users
  ear-oar/common_config.nix
  ear-oar/composition.nix
  ear-oar/flake.lock
  ear-oar/setup.toml
Due: ear-oar-test

[ear-oar] use extraConfigCommands option
  ear-oar/common_config.nix
  ear-oar/flake.lock
Due: ear-oar-test

[bdpo] Use roles, nxc.sharedDirs, nxc.users
  bdpo/common_config.nix
  bdpo/composition.nix
Due: none

[bdpo-oar] Use roles, nxc.sharedDirs, nxc.users
  bdpo-oar/common_config.nix
  bdpo-oar/composition.nix
Due: none

[bdpo-oar] housekeeping
  bdpo-oar/common_config.nix
  bdpo-oar/composition.nix
Due: none

[melissa-oar] Use roles, nxc.sharedDirs, nxc.users
  melissa-oar/common_config.nix
  melissa-oar/composition.nix
Due: none

[melissa-ear-oar] Use roles, nxc.sharedDirs, nxc.users
  melissa-ear-oar/common_config.nix
  melissa-ear-oar/composition.nix
Due: none

Update flake.lock
  bdpo-oar/flake.lock
  bdpo/flake.lock
  ear-oar/flake.lock
  ear/flake.lock
  melissa-ear-oar/flake.lock
  melissa-oar/flake.lock
  melissa-oar/setup.toml
  oar/flake.lock
Due: oar-test, ear-test, ear-oar-test

Update README
  README.md
Due: none

Add bebida first implementation
  bebida/README.md
  bebida/common_config.nix
  bebida/composition.nix
  bebida/flake.lock
  bebida/flake.nix
  bebida/nxc.json
  bebida/scripts/scripts.nix
  bebida/setup.toml
Due: none

first working k3s + OAR config (bebida deactivated)
  bebida/common_config.nix
  bebida/composition.nix
  bebida/flake.lock
  bebida/flake.nix
  bebida/setup.toml
  oar/common_config.nix
Due: oar-test

Enables Bebida prolog and epilog
  bebida/common_config.nix
  bebida/flake.lock
  bebida/flake.nix
  bebida/scripts/scripts.nix
Due: none

Bebida prolog/epilog now working
  bebida/scripts/scripts.nix
  bebida/setup.toml
Due: none

Fix flake name
  bebida/flake.nix
Due: none

Update README.md
  README.md
Due: none

bebida: build minimal k3s config file w/ server's @ip
  bebida/composition.nix
Due: none

Fix bebida README
  bebida/README.md
Due: none

melissa-oar: update compo to flake 22.11
  melissa-oar/flake.lock
  melissa-oar/flake.nix
  melissa-oar/nxc.json
Due: none

melissa: add launch folder
  melissa-ear-oar/heat-pde-sa/.config_oar.json.swp
  melissa-ear-oar/heat-pde-sa/__pycache__/heatpde_sa_server.cpython-310.pyc
  melissa-ear-oar/heat-pde-sa/client.sh
  melissa-ear-oar/heat-pde-sa/config_oar.json
  melissa-ear-oar/heat-pde-sa/heatpde_sa_server.py
  melissa-ear-oar/heat-pde-sa/melissa_set_env.sh
  melissa-ear-oar/heat-pde-sa/plot-result-sa.py
  melissa-ear-oar/heat-pde-sa/server.sh
Due: none

22.11 working with old version of oar3
  oar/flake.lock
  oar/flake.nix
Due: oar-test

Update regale in order to use the regale-2211 branch of nur kapack
  oar/flake.lock
  oar/flake.nix
  oar/setup.toml
Due: oar-test

Path conditions:
  oar-test: any of: oar/*
  ear-test: any of: ear/*
  ear-oar-test: any of: ear-oar/*
